<%# <div class='pilot-container'> %>
    <%# <div class='pilot-img'>
        <h1>This is test </h1>
        
        <button class="btn2 btn btn-success"> Update </button>
    </div> %>
    <%# <div class='pilot-content'>
        <div class='pilot-details'>
        <h1> This is detail for pilot </h1>
        </div> %>
        <%# <div class="pilot-measures">
            <div class="pilot-measure"><p>2 m</p> <p>wave-height</p></div>
            <div class="pilot-measure"><p>2 m</p> <p>wave-height</p></div>
            <div class="pilot-measure"><p>2 m</p> <p>wave-height</p></div>
            <div class="pilot-measure"><p>2 m</p> <p>wave-height</p></div>
            <div class="pilot-measure"><p>2 m</p> <p>wave-height</p></div>
            <div class="pilot-measure"><p>2 m</p> <p>wave-height</p></div>
        </div> %>
    <%# </div>
</div> %>
