.wrapper
  .sun
  .clouds-wrapper
    .clouds1
      %div
      %div
      %div
      
    .shadow
      %div
      %div
      %div
  .rain-wrapper    
    .rain-container
      .rain1
    .rain-container
      .rain2
    .rain-container
      .rain3
    