// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $color-2;
}

.home-video-wrapper h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.home-video-wrapper p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home_video {
 width: 100vw;
 height: 60vh;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
.home-video-wrapper {
height: 60vh;
display: flex;
padding: 150px 0;
}

.container {
    flex: 1;    /* same as flex-grow: 1; */
    background-position-x: center;
}

.info-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.text-card {
  text-align: center;
  color: $color-1;
  border: 1px solid black;

}

.icon {
  width: 60px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.icon:before {
  background-color: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.4));
}

.long_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: centre;
  color: white;
  font-size: 20px;
}

.icon_large {
  width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#red_card {
  background-color: #ee6f57;
}

#top_card {
  background-color: #145374;
  margin-bottom: 30px;
  margin-top: 30px;
}

#bottom_card {
  background-color: #145374;
  margin-bottom: 30px;
}

#middle_card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
}

.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration:none;
    color: #ee6f57;
  }
  }

#text-right {
  margin-right: 160px;
}

#text-left{
  margin-right: 160px;
}


.title_p {
  font-size:20px;

}

#title_text {
  font-size: 40px;
}

.long_card_text_left {
  margin-right: 50px;

}

.long_card_text_right {
  margin-left: 50px;
}

.divider {
  display: flex;
  justify-content: space-around;
}

.icon_small {
  width: 40px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .info-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .info-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .info-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .info-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .info-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

