.log-in-container {
  margin: 200px;
  padding: 25px;
  width:400px;
  margin: 5px 0 12px 0;
  border: none;
  background: #f1f1f1;
  text-align: center;
}
  .log-in-box {
  display:flex;
  justify-content: center;


}

.log-in-btn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  }

.log-in-btn:hover {
  opacity: 1;
}


