.sign-in-container {
  margin: 24px;
  padding: 16px;
  border: none;
  background: #f1f1f1;
  text-align:center;

}

.sign-up-btn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  }
.sign-up-btn:hover {
  opacity: 1;

}

