.sign-in-container {
  margin: 200px;
  padding: 80px;
  // margin: 5px 0 12px 0;
  border: none;
  background: #f1f1f1;
  text-align:center;

}
.sign-in-box{
  display:flex;
  justify-content: center;

}
.btn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  }
.btn:hover {
  opacity: 1;

}

