.trip_data {
  background-color: white;
  margin: 0px 24px 8px 0px;
  padding: 8px;
  width: 400px;
}

.all_trip {
  display: flex;
  column-gap: 5px;
}
.card {
  border-radius: 20px;
  justify-content: space-between;
  
  display: flex;
  justify-content: space-between;
}