.map_new {
  display: flex;
  width: 700px;
  height: 550px;
  background-color: $color-2;
  color: white;
}

.new_container {
  display: flex;
  justify-content: space-around;
  height: 1300px;
  margin-top: 24px;
  margin-left: 124px;
}

.select_data {
  background-color: $color-3;
  color: white;
  width: 440px;
  height: 650px;
  border-radius: 5px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;

}

#map_header {
  color: white;
  text-align: centre;
  margin-top: 8px;
}

#getweather {
  color:white;
  text-style: bold;
  font-size: 150%;

}
