.trip_data {
  background-color: white;
  margin: 8px 24px 8px 0px;
  padding: 8px;
  width: 500px;
}
.all_trip {
  display: flex;
  // column-gap: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-image {
  position: relative;
  a {
    position: absolute;
    bottom: 8px;
    left: 24px;
    right: 24px;
    border: 1px solid white;
    color: white;
  }
}
// .card {
//   border-radius: 20px;
//   display: flex;
//   // justify-content: space-between;
//   width: 500px;
//   flex-direction: column;
// }
