#new-trip-container {
  color: white;
}

#log_button {
  background-color: $color-3;
  border-color: white;
}

.map_new {
  display: flex;
  width: 700px;
  height: 550px;
  background-color: $color-2;
  color: white;
}
.coordinates {
  background-color: $color-1;
  color: $color-3;
}

.new_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 1300px;
  margin-top: 24px;
  margin-left: 124px;
}

.select_data {
  background-color: $color-3;
  color: white;
  width: 440px;
  height: 650px;
  border-radius: 5px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;

}

#map_header {
  color: white;
  text-align: centre;
  margin-top: 8px;
}

.btn-new-trip {
  display: flex;
  background-color: $color-3;
  justify-content: center;
  vertical-align: middle;
  color:white;
  text-style: bold;
  font-size: 100%;
  border-radius: 16px;
}
.btn-new-trip:hover {
  background-color: white;
  color: $color-3;
}

.date-select {

}
