.map_new {
  display: flex;
  width: 800px;
  height: 650px;
  background-color: $color-2;
  color: white;
}

.new_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 1300px;
  margin-top: 24px;
  margin-left: 24px;
}

.select_data {
  background-color: $color-3;
  color: white;
  width: 440px;
  height: 650px;
}

#map_header {
  color: white;
  text-align: centre;
  margin-top: 8px;
}

#getweather {
  color:white;
  text-style: bold;
  font-size: 150%;

}
