.navbar-lewagon {
  justify-content: space-between;
  background: $color-1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height : 20%;
  width : 20%;
}

.nav-item:hover {
  animation: pulse;
}

.nav-link {
  width: 120px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar {
    display: flex-inline;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-brand {

    position: absolute right;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-brand {

  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .info-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .info-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
