.navbar-lewagon {
  justify-content: space-between;
  background: $color-1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height : 20%;
  width : 20%;
}

.nav-link {
  width: 100px;
}
